body, html {
	height:100%;
	width: 100%;
	box-sizing: border-box;
	border : 0px;
	margin : 0px;
	padding : 0px;
}

#container {
	background-color: black;
	height:100%;
	width: 100%;
}

#A{
  position: relative;
  left:0;
  top: 0%;
  width: 50%;
  height : 50%;
  background-color: yellow;
}

#B{
  position: relative;
  left: 50%;
  bottom: 50%;
  width: 50%;
  height : 50%;
  background-color: green;
}
#C{
  position: relative;
  left: 0%;
  bottom: 50%;
  width: 50%;
  height : 50%;
  background-color: grey;
}
#D{
  position: relative;
  left: 50%;
  bottom: 100%;
  width: 50%;
  height : 50%;
  background-color: magenta;
}
