/*body*/
body, html {
	height: 100%;
	margin: 0;
	padding: 0;
  background-color: white;
  box-sizing: border-box;
}
/*para los 4 divs principales*/
divA, divB, divC, divD {
	float: left;
  width: 50%;
  height: 50%;
}
/*para div A y C*/
divA, divC {
  margin-top: 0%;
  margin-left: 0%;
}
/*para div B y D*/
divB, divD {
  margin-top: 0%;
  margin-right: 0%;
  /*background-color: #fab208;*/
}
/*franjas amarillas de divB y divC*/
barra1, barra3, barra5, barra7, barra9 {
	float: left;
  background-color: #fab208;
  height: 100%;
  width: 11.11%;
}
/*franjas rojas de divB y divC*/
barra2, barra4, barra6, barra8 {
	float: left;
  background-color: red;
  height: 100%;
  width: 11.11%;
}
/*para los div internos de divA y divD*/
div1, div2, div3, div4 {
	float: left;
	height: 50%;
	width: 50%;
	margin-top: 0%;
	margin-left: 0%;
	box-sizing: border-box;
}
/*para div1 rayas rojas*/
div1 {
	border-right: 25px solid red;
	border-bottom: 25px solid red;
}
/*para div2 rayas rojas*/
div2 {
	border-left: 25px solid red;
	border-bottom: 25px solid red;
}
/*para div3 rayas rojas*/
div3 {
	border-right: 25px solid red;
	border-top: 25px solid red;
}
/*para div4 rayas rojas*/
div4 {
	border-left: 25px solid red;
	border-top: 25px solid red;
}
