/* css para ejercicio1_parrafos.xml */
/* fondo general*/
biblioteca {
  background-color: lightblue;
}
/* cada libro fondo verde con borde y margen entre libros*/
libro {
  display: block;
  background-color: lightgreen;
  border: black 2px solid;
  margin: 8px;
}
/* separacion de dentro de cada elemento(padding)*/
titulo, autor, fechaPublicacion {
  display: block;
  font-family: sans-serif;
  padding-left: 5px;
}
/* titulo negrita con fondo blanco y linea abajo*/
titulo {
  font-weight: bold;
  background-color: white;
  border-bottom: 2px black solid;
}
