/* css para ejercicio2_listas.xml */

/* vision de bloque linea a linea*/
ciclo, nombreCentro, web {
  display: block;
}
/* ver como una lista, tipo de lista y margen */
nombre, grado, decretoTitulo {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 8px;
}
