/* css para ejercicio2_listas.xml */

/* tipo de letra para todo*/
ies {
  font-family: sans-serif;
}
/* vision de bloque linea a linea*/
ciclo, nombreCentro, web {
  display: block;
}
/* separacion entre ciclos */
ciclo {
  margin-bottom: 10px;
}
/* ver como una lista, tipo de lista y margen */
grado, decretoTitulo {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 20px;
}
/* tamaño del nombre y separacion*/
nombreCentro {
  font-size: 25px;
  margin: 10px;
}
/* separacion del nombre y la web con cada parte*/
web, nombre {
  margin: 10px;
}
