/* css para ejercicio2_listas.xml */

/* tipo de letra para todo*/
ies {
  font-family: sans-serif;
}
/* vision de bloque linea a linea*/
ciclo, nombreCentro, web {
  display: block;
}
/* separacion entre ciclos y reseteo de contador */
ciclo {
  counter-reset: contador;
  margin-bottom: 10px;
}
/* creacion del contador*/
nombre:before, grado:before, decretoTitulo:before {
  content: counter(contador, lower-latin) ". ";
}
/* ver como una lista, tipo de lista y margen */
nombre, grado, decretoTitulo {
  display: block;
  counter-increment: contador;
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 30px;
}
/* tamaño del nombre y separacion*/
nombreCentro {
  font-size: 25px;
  margin: 10px;
}
/* separacion del nombre y la web con cada parte*/
web {
  margin: 10px;
}
