/*titulo*/
titulo {
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
}
/*body*/
body {
  background-color: #fefedd;
}
/*div principal*/
[pantalla=principal] {
  width: 100%;
  height: 1000px;
}
/*trozo arriba izquierda*/
[arriba=izquierda] {
  float: left;
  width: 50%;
  height: 50%;
  margin-top: 0%;
  margin-left: 0%;
  border: 1px solid black;
  box-sizing: border-box;
}
/*trozo arriba derecha*/
[arriba=derecha] {
  float: right;
  width: 50%;
  height: 50%;
  margin-top: 0%;
  margin-right: 0%;
  border: 1px solid black;
  box-sizing: border-box;
}
/*trozo abajo izquierda*/
[abajo=izquierda] {
  float: left;
  width: 50%;
  height: 50%;
  margin-bottom: 0%;
  margin-left: 0%;
  background-color: yellow;
  border: 5px solid red;
  box-sizing: border-box;
}
/*trozo abajo derecha*/
[abajo=derecha] {
  float: right;
  width: 50%;
  height: 50%;
  margin-bottom: 0%;
  margin-right: 0%;
  background-color: pink;
  border: 10px solid yellow;
  box-sizing: border-box;
}
/*primera fila abajo izquierda*/
linea1 {
  float: left;
  background-color: blue;
  width: 100%;
  height: 20%;
  border: 2px solid red;
  box-sizing: border-box;
}
/*segunda fila abajo izquierda*/
linea2 {
  float: left;
  background-color: lightgreen;
  width: 100%;
  height: 20%;
  border: 2px solid red;
  box-sizing: border-box;
}
/*tercera fila abajo izquierda*/
linea3 {
  float: left;
  background-color: blue;
  width: 100%;
  height: 20%;
  border: 2px solid red;
  box-sizing: border-box;
}
/*cuarta fila abajo izquierda*/
linea4 {
  float: left;
  background-color: lightgreen;
  width: 100%;
  height: 20%;
  border: 2px solid red;
  box-sizing: border-box;
}
/*quinta fila abajo izquierda*/
linea5 {
  float: left;
  background-color: blue;
  width: 100%;
  height: 20%;
  border: 2px solid red;
  box-sizing: border-box;
}
/*primera columna abajo derecha*/
columna1 {
  float: right;
  background-color: blue;
  height: 100%;
  width: 25%;
  border: 2px solid yellow;
  box-sizing: border-box;
}
/*segunda columna abajo derecha*/
columna2 {
  float: right;
  background-color: red;
  height: 100%;
  width: 25%;
  border: 2px solid yellow;
  box-sizing: border-box;
}
/*tercera columna abajo derecha*/
columna3 {
  float: right;
  background-color: blue;
  height: 100%;
  width: 25%;
  border: 2px solid yellow;
  box-sizing: border-box;
}
/*cuarta columna abajo derecha*/
columna4 {
  float: right;
  background-color: red;
  height: 100%;
  width: 25%;
  border: 2px solid yellow;
  box-sizing: border-box;
}
/*secuencia divs arriba izquierda*/
[arriba=izquierda] div {
  border: 1px solid blue;
  /*desde donde se empieza a enmarcar:*/
  padding: 5%;
  padding-left: 0.50%;
}
/*secuencia divs arriba derecha*/
[arriba=derecha] div {
  border: 1px solid blue;
  /*desde donde se empieza a enmarcar:*/
  padding: 5%;
  box-sizing: border-box;
}
