titulo {
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
}

body {
  background-color: #33fff3;
  color: white;
}

tabla {
  display: table;
  outline: 6px solid green;
  border: 1px solid black;
  margin-left: 10px;
  box-sizing: border-box;
}

linea1, linea2, linea3, linea4 {
  display: table-row;
}

linea1 texto1 {
  display: table-cell;
  border: 1px solid black;
  width: 600px;
  height: 100px;
  vertical-align: middle;
  text-align: center;
  background-color: red;
  border: 4px solid yellow;
}

linea1 texto2 {
  display: table-cell;
  border: 1px solid black;
  width: 400px;
  height: 100px;
  vertical-align: middle;
  text-align: center;
  background-image: url("./Mark_Knopfler.jpg")
}

linea1 texto3 {
  display: table-cell;
  border: 1px solid black;
  width: 150px;
  height: 100px;
  vertical-align: middle;
  color: black;
  background-color: yellow;
  border: 8px solid white;
}

linea2 texto1 {
  display: table-cell;
  border: 1px solid black;
  width: 600px;
  height: 100px;
  vertical-align: top;
  text-align: right;
  background-image: url("./Mark_Knopfler.jpg")
}

linea2 texto2 {
  display: table-cell;
  border: 1px solid black;
  width: 400px;
  height: 100px;
  vertical-align: top;
  text-align: right;
  color: #33fff3;
  background-image: url("./747-200.jpg")
}

linea2 texto3 {
  display: table-cell;
  border: 1px solid black;
  width: 150px;
  height: 100px;
  vertical-align: middle;
  background-color: red;
}

linea3 texto1 {
  display: table-cell;
  border: 1px solid black;
  width: 600px;
  height: 100px;
  vertical-align: bottom;
  text-align: left;
  padding-top: 2px;
  background-image: url("./DSCN3964.JPG");
}

linea3 texto2 {
  display: table-cell;
  border: 1px solid black;
  width: 400px;
  height: 100px;
  vertical-align: bottom;
  text-align: left;
  padding-top: 2px;
  background-image: url("./DSCN3964.JPG");
}

linea3 texto3 {
  display: table-cell;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  width: 150px;
  height: 100px;
  vertical-align: middle;
  text-align: left;
  background-color: purple;
  color: white;
}

linea4 texto1 {
  display: table-cell;
  border: 1px solid black;
  width: 600px;
  height: 200px;
  vertical-align: middle;
  text-align: left;
  padding-left: 30px;
  background-image: url("./Mark_Knopfler.jpg");
}

linea4 texto2 {
  display: table-cell;
  border: 1px solid black;
  width: 400px;
  height: 200px;
  vertical-align: middle;
  text-align: left;
  padding-left: 30px;
  background-image: url("./Kill_to_Get_Crimson_Cover.jpg");
}

linea4 texto3 {
  display: table-cell;
  border: 1px solid black;
  width: 150px;
  height: 200px;
  vertical-align: middle;
  text-align: left;
  background-color: #33ff36;
  border: 6px solid red;
}
