/*titulo*/
titulo {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  color: white;
}
/*body*/
body, html {
	height: 100%;
	margin: 0;
	padding: 0;
  background-color: #b01a3f;
  box-sizing: border-box;
}
/*todos los divs*/
div {
  box-sizing: border-box;
}
/*div arriba izquierda*/
[arriba=izquierda] {
  float: left;
  width: 49%;
  height: 50%;
  margin-top: 0%;
  margin-left: 0.2%;
  margin-right: 0.8%;
  background-color: yellow;
  border: 10px solid white;
}
/*div arriba derecha*/
[arriba=derecha] {
  float: left;
  width: 49%;
  height: 50%;
  margin-top: 0%;
  margin-right: 0.5%;
  margin-left: 0.5%;
  background-color: #0fac46;
  border: 4px solid lightgreen;
}
/*div rectangulo total*/
[abajo=uno] {
  float: left;
  width: 99%;
  height: 28%;
  margin-top: 2%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  background-color: black;
  border: 10px solid red;
  background-image: url("./libros.png");
}
/*div rectangulo pequeño*/
[abajo=dos] {
  float: left;
  width: 50%;
  height: 18%;
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 10%;
  background-color: #b80968;
  border: 15px solid blue;
}
/*texto div arriba izquierda con listado*/
div[arriba=izquierda] * {
  display: list-item;
  list-style: disc inside;
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 15px;
  color: blue;
}
/*espacio en la primera linea del div1*/
linea1 {
  margin-top: 25px;
}
/*listado de las sublineas*/
div[arriba=izquierda] sub {
  list-style: circle;
  margin-left: 40px;
}
/*todas las lineas del ultimo div*/
div[abajo=dos] * {
  display: block;
}
/*titulo del ultimo div*/
titulillo {
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 12px;
}
/*lineas del ultimo div*/
div[abajo=dos] linea {
  font-size: 9px;
  margin-left: 40%;
}
/*color amarillo de la linea del ultimo div*/
[color=amarillo] {
  color: yellow;
}
/*titulo lletres del segundo div*/
lletres {
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin-top: 1px;
  color: lightgreen;
  text-align: center;
}
/*url introducida en segundo div*/
iframe {
  width: 100%;
  height: 90%;
  box-sizing: border-box;
}
